.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.strudel-demo {
  padding: 1rem;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

.strudel-header h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #01426A; 
}

.strudel-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.editor-section {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


.text-area-wrapper {
  flex: 2;
  min-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}


.controls-wrapper {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.75rem;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}


.editor-canvas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}


.strudel-editor {
  min-height: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  padding: 0.5rem;
}

.strudel-canvas {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}


.controls-wrapper:hover {
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}


/* .controls-wrapper button {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
  border: none;
  background-color: #FC4C02;
  color: white;
  cursor: pointer;
  font-weight: bold;
} */



.play-button {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: transform 0.1s ease;
}

.play-button:hover {
  background-color: #67cc7d;
  transform: scale(1.05);
}

.stop-button {
  background-color: #dc3545;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.stop-button:hover {
  background-color: #f96877;
  transform: scale(1.05);
}
  